
body {
    
    font-family: 'Anek Malayalam', sans-serif !important;
    background-color: #190036;
}

#encabezado {
    background-image: url("https://i.ibb.co/JK9gjLn/fondociudad.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
       
}

.letracabeza {
    color: #ffc525;
    opacity: 1 !important;
    
}

.barra {  
    background-color: #200046;
}

.navbar {
    padding: 0;
}


/* Color Theme Swatches in Hex */
.Ilustración-1-hex { color: #4D578C; }
.Ilustración-2-hex { color: #548C87; }
.Ilustración-3-hex { color: #ffa600; }
.Ilustración-4-hex { color: #BF622C; }
.Ilustración-5-hex { color: #8C3F23; }

/* Color Theme Swatches in Hex */
.Detalle-de-textura-y-formas-de-una-ola-de-mar-1-hex { color: #5A98BF; }
.Detalle-de-textura-y-formas-de-una-ola-de-mar-2-hex { color: #1B778C; }
.Detalle-de-textura-y-formas-de-una-ola-de-mar-3-hex { color: #092126; }
.Detalle-de-textura-y-formas-de-una-ola-de-mar-4-hex { color: #3BC9D9; }
.Detalle-de-textura-y-formas-de-una-ola-de-mar-5-hex { color: #52D9D9; }

