
body {
    
    font-family: 'Anek Malayalam', sans-serif !important;
    background-color: #190036;
}

#encabezado {
    background-image: url("https://i.ibb.co/JK9gjLn/fondociudad.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
       
}

.letracabeza {
    color: #ffc525;
    opacity: 1 !important;
    
}

.barra {  
    background-color: #200046;
}

.navbar {
    padding: 0;
}

.nav {
    background-color: #010052 !important;
    color: #ffa600 !important;
    padding: 0;
}

.nav-link {
    color: #ffa600;
}


.card-body {
    background-color: #010052;
}

.card-link {
    color: #ffa600;
}

.card-title {
    color: #ffa600;
}

ul {
    color: #f8d472;
}
.card-text {
    color: #f8d472;
}

.bi-filetype-html {
    font-size: 8em;
}

.bi-filetype-css {
    font-size: 8em;
}

.bi-bootstrap {
    font-size: 8em;
}

img {
    width: 29vw;
    height: 36vh;
}